<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

     <!--counstructor注入-->
    <bean id="person" class="com.mq.base_XML.beanPropertyInsert.constructor.Person">
        <constructor-arg index="0" value="John"></constructor-arg>
        <constructor-arg index="1" ref="homeAddr"></constructor-arg>
        <constructor-arg index="2" ref="comAddr"></constructor-arg>
    </bean>

    <bean id="homeAddr" class="com.mq.base_XML.beanPropertyInsert.constructor.Address">
        <constructor-arg index="0" value="Los"></constructor-arg>
        <constructor-arg index="1" value="US"></constructor-arg>
    </bean>

    <bean id="comAddr" class="com.mq.base_XML.beanPropertyInsert.constructor.Address">
        <constructor-arg index="0" value="Hong Kong"></constructor-arg>
        <constructor-arg index="1" value="China"></constructor-arg>
    </bean>
</beans>