<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--单例-->
    <bean id="userService" class="com.mq.base_XML.beanScope.singleton.UserServiceImpl"></bean>

    <!--<bean id="myFactory" class="com.mq.base_XML.beanType.MyFactory"></bean>-->
</beans>